/* .card-header {
    background-color: grey;
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-body {
    padding: 3%;
} */

.container {
    padding: 1%;
    background-color: rgb(71, 66, 66);
}

.card {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: small
}