.card-header {
    background-color: grey;
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-body {
    padding: 3%;
}