<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <!-- <a mat-list-item routerLink="tojoin">TO JOIN</a> -->
            <a mat-list-item routerLink="tojoin">TO JOIN</a>
            <a mat-list-item href="#">REVIEW</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

            <span>SERVICES</span>


        </mat-toolbar>

        <!-- Add Content Here -->
        <div class="row">
            <div class="column">
                <div class="card">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>SERVICE</mat-card-title>
                            <mat-card-subtitle>GARDENER</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="assets/gardener.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <p>
                                TO HIRE GARDENERS CLICK ON HIRE
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button (click)="gardener();">HIRE</button>
                            <button mat-button>REVIEW</button>
                        </mat-card-actions>
                    </mat-card>

                </div>
            </div>

            <div class="column">
                <div class="card">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>SERVICE</mat-card-title>
                            <mat-card-subtitle>ELECTRICIAN</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="assets/electrician.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <p>
                                TO HIRE ELECTRICIAN CLICK ON HIRE
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button (click)="gardener();">HIRE</button>
                            <button mat-button>REVIEW</button>
                        </mat-card-actions>
                    </mat-card>

                </div>
            </div>

            <div class="column">
                <div class="card">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>SERVICE</mat-card-title>
                            <mat-card-subtitle>CARPENTER</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="assets/carpenter.webp" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <p>
                                TO HIRE CARPENTER CLICK ON HIRE
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button (click)="gardener();">HIRE</button>
                            <button mat-button>REVIEW</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>SERVICE</mat-card-title>
                            <mat-card-subtitle>PLUMBER</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="assets/plumber.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <p>
                                TO HIRE PLUMBER CLICK ON HIRE
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button (click)="gardener();">HIRE</button>
                            <button mat-button>REVIEW</button>
                        </mat-card-actions>
                    </mat-card>

                </div>
            </div>

        </div>


    </mat-sidenav-content>
</mat-sidenav-container>
<!--nav.component.html-->